.card-content, .ingredients { margin: 15px 0; }
.card-title { margin-bottom: 10px; }
.manage-recipe-ddl > .dropdown-item { cursor: pointer; }

h2 { 
  margin-bottom: 30px;
  font-size: 1.5rem;
}

.card-subtitle {
  margin-bottom: 20px;
  display: block;
}

.card-text {
  max-height: 78px;
  overflow: hidden;
}
