<div class="form-group">
	<label for="userName">User Name</label>
	<!-- <input type="text" id="userName" class="form-control" (input)="onUserNameInput()" [(ngModel)]="userName" autocomplete="off"> -->
	<input
		type="text"
		id="userName" 
		class="form-control" 
		[(ngModel)]="userName" autocomplete="off"
		[ngStyle]="{ 'background-color': '#fff' }"
		[ngClass]="{ 'hide': false }"
	>
</div>

<p>Input: {{ userName }}</p>

<hr>

<ul>
	<li *ngFor="let country of countries">{{ country }}</li>
</ul>

<button type="reset" class="btn btn-primary" (click)="onReset()" [disabled]="userName === ''">Reset</button>